body {
  background-color: hotpink;
  color: white;
  text-align: justify;
  font-family: Courier;
}
p{
  font-family: "Courier New";
}
#one{
  color: #fcfcfc;
  text-align: center;
}
  img{
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 0%;
    border-style: solid;
    border-color:white;
  }
#heading{
  font-weight: bold;
  text-align: center;
}
#two{
  text-align: justify;
  background-color: #03ACCC;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#three{
  text-align: center;
  font-style: italic;
}
#four{
  background-color: purple;
  padding-left: 3px;
  padding-right: 3px;
  padding: 5px;
}
#five{
  background-color: #61C4E3;
  padding: 5px;
}
#six{
  background-color: #6234d8;
  padding: 5px;
  padding-left: 3px:
  padding-right: 3px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a166ba;
    position: fixed;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}
li a:hover {
    background-color: #6095b2;
    color:#3e4b51;
    font-weight: bold;
}
