body {
  background-color: hotpink;
  color: white;
  text-align: justify;
}
p{
  font-family: "Courier New";
}
#one{
  color: #fcfcfc;
}
  img{
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 100%;
  }
h1{

}
