
.row{
  background-color: white;
}
.head{
  background-color: #894fbc;
  color:white;
  font-size:44px;
  text-align: center;
  padding-top: 5px;
}
h3{
  font-size:32px
}
.paragraph-big{
  float:left;
  max-width: 50%;
  background: #03ACCC;
  margin-left: 100px;
  border: 1px solid red;
}
h3{
  text-align: center;
}

.dexter{
    float:right;
    max-width: 50%;
    height:300px;
    border-radius: 40%;
    margin-right:300px;
    border: 3px solid white;
}

body {
  background-color: hotpink;
  color: white;
  font-family: Courier;
}

p{
  font-family: "Courier New";
  line-height: 200%;
}


.content-row{
  max-width: 50%;
  background-color: #03ACCC;
  float:left;
  line-height: 200%;
  margin-bottom: 200px;
  margin-left: 100px;
  border: 1px solid red;
}

.song{
  max-width: 50%;
  background-color: #03ACCC;
  padding: 5px;
  padding-left: 5px;
  float: left;
  line-height: 200%;
  margin-left: 650px;
  border: 1px solid red;
}

.pictwo{
  float:right;
  max-width: 50%;
  height:300px;
  border-radius: 40%;
  margin-right:200px;
  border: 3px solid white;
}

.picthree{
  float:right;
  max-width: 50%;
  height:300px;
  border-radius: 40%;
  margin-right:200px;
  border: 3px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.right{
  float: right;
  margin-left: 600px;
}

.left{
  min-width: 50%;
  float: left;
}
